@font-face {
  font-family: 'HoscoAwesome';
  src:
    url('fonts/HoscoAwesome.ttf?t9ssam') format('truetype'),
    url('fonts/HoscoAwesome.woff?t9ssam') format('woff'),
    url('fonts/HoscoAwesome.svg?t9ssam#HoscoAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ha {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HoscoAwesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ha-premium-star:before {
  content: "\e95b";
}
.ha-bunny-hat:before {
  content: "\e956";
}
.ha-broken-wand:before {
  content: "\e955";
}
.ha-magic-wand:before {
  content: "\e957";
}
.ha-missing-info:before {
  content: "\e958";
}
.ha-wand:before {
  content: "\e959";
}
.ha-lightning-bolt:before {
  content: "\e95a";
}
.ha-postgraduate:before {
  content: "\e953";
}
.ha-promise:before {
  content: "\e954";
}
.ha-job-hand:before {
  content: "\e950";
}
.ha-job-shine:before {
  content: "\e951";
}
.ha-invoice:before {
  content: "\e952";
}
.ha-companies-l:before {
  content: "\e94e";
}
.ha-jobseeker:before {
  content: "\e94f";
}
.ha-restricted-job:before {
  content: "\e94d";
}
.ha-check:before {
  content: "\e94c";
}
.ha-hosco-shine-fill:before {
  content: "\e94b";
}
.ha-arrow-loader:before {
  content: "\e94a";
}
.ha-edit-new:before {
  content: "\e946";
}
.ha-plus-linecircle:before {
  content: "\e947";
}
.ha-plus-fillcircle:before {
  content: "\e948";
}
.ha-linkedin-sync:before {
  content: "\e949";
}
.ha-jobalert-modal:before {
  content: "\e90e";
}
.ha-bell-alert:before {
  content: "\e945";
}
.ha-suggested-jobs:before {
  content: "\e944";
}
.ha-strong:before {
  content: "\e943";
}
.ha-take-off:before {
  content: "\e942";
}
.ha-advice:before {
  content: "\e941";
}
.ha-sjp:before {
  content: "\e912";
}
.ha-edit:before {
  content: "\e93d";
}
.ha-payment-fail:before {
  content: "\e939";
}
.ha-payment-success:before {
  content: "\e93a";
}
.ha-champagne:before {
  content: "\e93b";
}
.ha-share:before {
  content: "\e93c";
}
.ha-comment-like:before {
  content: "\e93e";
}
.ha-laurel-member:before {
  content: "\e93f";
}
.ha-companies-modal:before {
  content: "\e940";
}
.ha-connected:before {
  content: "\e938";
}
.ha-message-notif:before {
  content: "\e937";
}
.ha-share-profile:before {
  content: "\e97d";
}
.ha-user-star:before {
  content: "\e97a";
}
.ha-member-group:before {
  content: "\e97b";
}
.ha-message:before {
  content: "\e986";
}
.ha-dashboard:before {
  content: "\e988";
}
.ha-call-back:before {
  content: "\e930";
}
.ha-draft:before {
  content: "\e931";
}
.ha-job-search:before {
  content: "\e932";
}
.ha-clock:before {
  content: "\e933";
}
.ha-clock-forward:before {
  content: "\e934";
}
.ha-ligthning:before {
  content: "\e935";
}
.ha-member-search:before {
  content: "\e936";
}
.ha-waving-hand:before {
  content: "\e92f";
}
.ha-finger-up:before {
  content: "\e914";
}
.ha-no-mail:before {
  content: "\e92b";
}
.ha-tc:before {
  content: "\e92c";
}
.ha-index-in:before {
  content: "\e92d";
}
.ha-index-out:before {
  content: "\e92e";
}
.ha-mobile:before {
  content: "\e92a";
}
.ha-availability:before {
  content: "\e929";
}
.ha-status:before {
  content: "\e91f";
}
.ha-remove-team:before {
  content: "\e91e";
}
.ha-invite-team:before {
  content: "\e91c";
}
.ha-permissions:before {
  content: "\e91d";
}
.ha-roundsquare-hosco:before {
  content: "\e91b";
}
.ha-burger:before {
  content: "\e913";
}
.ha-round-fb:before {
  content: "\e915";
}
.ha-round-hosco:before {
  content: "\e916";
}
.ha-round-insta:before {
  content: "\e917";
}
.ha-round-linkd:before {
  content: "\e918";
}
.ha-round-twtt:before {
  content: "\e919";
}
.ha-round-yt:before {
  content: "\e91a";
}
.ha-laurea:before {
  content: "\e922";
}
.ha-targeted:before {
  content: "\e910";
}
.ha-premium-light:before {
  content: "\e911";
}
.ha-premium:before {
  content: "\e920";
}
.ha-premium-plus:before {
  content: "\e921";
}
.ha-thumbs-up:before {
  content: "\e923";
}
.ha-handshake:before {
  content: "\e924";
}
.ha-love-thanks:before {
  content: "\e925";
}
.ha-hand-stop:before {
  content: "\e926";
}
.ha-neck-tie:before {
  content: "\e927";
}
.ha-who:before {
  content: "\e928";
}
.ha-update:before {
  content: "\e90f";
}
.ha-hosco-shine:before {
  content: "\e90c";
}
.ha-rocket:before {
  content: "\e90d";
}
.ha-erase:before {
  content: "\e907";
}
.ha-job-app-rejected:before {
  content: "\e908";
}
.ha-job-app-sent:before {
  content: "\e909";
}
.ha-job-app:before {
  content: "\e90a";
}
.ha-remove:before {
  content: "\e90b";
}
.ha-story:before {
  content: "\e900";
}
.ha-cross:before {
  content: "\e901";
}
.ha-heart-broken:before {
  content: "\e902";
}
.ha-message-sent:before {
  content: "\e903";
}
.ha-nationality:before {
  content: "\e904";
}
.ha-review:before {
  content: "\e905";
}
.ha-login:before {
  content: "\e906";
}
